body {
  font-family:'Times New Roman', Times, serif;
}
h1 {
  text-align: center;
  margin: 1em 0 2em;
  color: green;
}
.language {
  display: none;
}
form {
  width: 80%;
  height: auto;
  margin: auto;
  border: solid black 1px;
  padding: 3em;
}
h6 {
  margin-top: 15px;
  color:rgb(0, 0, 0);
}
footer {
  margin: 3em 0 3em;
  text-align: center;
}